<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Medico</title>
        <link href="{{url_for('static',filename='css/MedicoCitas.css') }}" rel="stylesheet">

    </head>
    <footer>
        <div class="imgT"><img src="{{url_for('static',filename='img/hospital.png') }}">Hospital General de Barranquilla</img>
            
        </div>
    </footer>
      
    <nav>
        <a href="/medico/">Citas</a>
        <div class="cerrar">
         <a href="/cerrar/">Cerrar sesión </a>
         </div>
     </nav>
    <body>
        <br>
        <section>
                <h1>Citas programadas para usted</h1>
                <table class="tab">
                                
                    <tr>
                        <th>idCita</th>
                        <th>Fecha y Hora</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Accion</th>
                    
                    </tr>
                    {% if citas_medico %}
                    {% for cita in citas_medico %}
                    {% if cita.5 == None %}
                    <tr>
                        
                            <td>{{cita.0}}</td>
                            <td><input type="datetime-local" id="fecha" name="trip-start" value="{{cita.1}}" readonly></td>
                            <td>{{cita.2}}</td>
                            <td>{{cita.3}}</td>
                            <td>{{cita.4}}</td>
                            <td><a href="/medico/atender/{{cita.0}}_{{cita.2}}_{{cita.3}} {{cita.4}}">atender</a></td>
                                    
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %} 
                </table>
            
        </section>
        <section>
                <h1>Citas atendidas por usted </h1>  
                <table class="tab">
                    <tr>
                        <th>idCita</th>
                        <th>id HistoClinica</th>
                        <th>Fecha y Hora</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Accion</th>
                    
                    </tr>
                    {% if citas_medico %}
                    {% for cita in citas_medico %}
                    {% if cita.5 != None %}
                    <tr>
                        
                            <td>{{cita.0}}</td>
                            <td>{{cita.5}}</td>
                            <td><input type="datetime-local" id="fecha" name="trip-start" value="{{cita.1}}" readonly></td>
                            <td>{{cita.2}}</td>
                            <td>{{cita.3}}</td>
                            <td>{{cita.4}}</td>
                            <td><a href="/medico/editar/HC/{{cita.5}}">editar</a></td>
                                    
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %} 
                </table>
            
        </section>
    </body>
    <footer>
        <div class="pie">
            <p>Cr 50 N79-86</p>
            <p>Hospital General de Barranquilla</p>
            <p>Alto Prado Barranquilla</p>
        </div>
        <div class="pie">
            <div>
            <ul>Servicios<ul>
                <li>Servicio 1</li>
                <li>Servicio 2</li>
                <li>Servicio 3</li>
                <li>Servicio 4</li>
            </ul>
            </ul>
        </div>
        </div>
        <div class="pie">
            <br>
            
            <br>
            <a href="#">Política de servicios</a><br>
            <a href="#">Política de Habeas Data</a>
    
        </div class="pie">

        <div class="pie">
            <div >
                <img src="./img/facebook2.png">
                <img src="./img/wsp1.png">

            </div>
            <p>Hospital General de Barranquilla 2022</p>
            <p>Todos los derechos reservados ©</p>
        </div>
</footer>
</html>