<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Paciente</title>
        <link href="../static/css/Pacientes.css" rel="stylesheet">
        
    </head>
    <footer>
        <div class="imgT"><img src="{{url_for('static',filename='img/hospital.png') }}">Hospital General de Barranquilla</img>
            
        </div>
    </footer>
    <body>
        
        
        <nav>            
            <a href="/paciente/">Citas</a>
            <a href="#tabla2">Consultar Citas</a>
            <a href="/paciente/vercitas/">Historia Clinica</a>
            <div class="cerrar">
            <a href="/cerrar/">Cerrar sesión </a>
            </div>
        </nav><br>
        <section>
            <h1>Asignar Cita</h1>
            <table class="tab" id="tabla1">
                
                <tr>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>especialidad</th>
                        <th>Fecha y Hora</th>
                        <th>Asignar Cita</th>
                    
                    </tr>
                    {% if medicos_disponibles %}
                    {% for medico in medicos_disponibles %}
                    <tr>
                        <form>
                        <td><input type="text" value="{{medico.0}}" readonly name="idmedico" required></td>
                        <td>{{medico.1}}</td>
                        <td>{{medico.2}}</td>
                        <td>{{medico.3}}</td>
                        <td><input type="datetime-local" id="start" name="fecha" required></td>
                        <td><input type="submit" formaction="/paciente/asignarCita/" formmethod="POST" name="fecha" value="asignar"></td>            
                        </form>
                    </tr>
                    {% endfor %}
                    {% endif %}
            </table>
        </section>
        <section>
            
            <h1>Citas Programadas </h1><br>
            <pr>Aun puede modificar o cancelar su cita programada</pr>
            <br>
            <table class="tab2" id="tabla2">
                    <tr>
                        <th>id Cita</th>
                        <th>Cambiar Medico</th>
                        <th>Fecha y Hora</th>
                        <th>Asignar Cita</th>
                    
                    </tr>
                    {% if citas_pacientes %}
                    {% for cita in citas_pacientes %}
                    {% if cita.1==None %}
                    <tr>
                        <form>
                        <td><input type="number" value="{{cita.0}}" name="idcita" readonly required></td>
                        <td>
                            <select name="idmedico2">
                                <option value="{{cita.3}}">Actual: {{cita.3}}-{{cita.4}} {{cita.5}}-{{cita.6}}</option>
                                {% if medicos_disponibles %}
                                {% for medico in medicos_disponibles %}
                                <option value="{{medico.0}}">{{medico.0}}-{{medico.1}} {{medico.2}}-{{medico.3}}</option>
                                {% endfor %}
                                {% endif %} 
                            </select>
                        </td>
                        <td><input type="datetime-local" id="start" name="fecha" required value="{{cita.2}}"></td>
                        <td><input type="submit" formaction="/paciente/modificar/cita/" formmethod="POST" name="modificar" value="modificar">
                        <input type="submit" formaction="/paciente/eliminar/cita/" formmethod="POST" name="cancelar" value="cancelar"></td>            
                        </form>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endif %} 
                    
            </table>
        </section>
    </body>
    <footer>
        <div class="pie">
            <p>Cr 50 N79-86</p>
            <p>Hospital XXXX</p>
            <p>Alto Prado Barranquilla</p>
        </div>
        <div class="pie">
            <div>
            <ul>Servicios<ul>
                <li>Servicio 1</li>
                <li>Servicio 2</li>
                <li>Servicio 3</li>
                <li>Servicio 4</li>
            </ul>
            </ul>
        </div>
        </div>
        <div class="pie">
            <br>
            
            <br>
            <a href="#">Política de servicios</a><br>
            <a href="#">Política de Habeas Data</a>
    
        </div class="pie">

        <div class="pie">
            <div >
                <img src="./img/facebook2.png">
                <img src="./img/wsp1.png">

            </div>
            <p>Hospital xxx 2022</p>
            <p>Todos los derechos reservados ©</p>
        </div>
</footer>
</html>